@import "tailwindcss";

@theme {
  --color-lucky-blue: '#0045b3';
  --color-lucky-yellow: '#ffc400';
  --color-lucky-bg: '#f9fafb';
  --default-font-family: 'Inter', sans-serif;
}

@layer components {
  .whatsapp-button {
    background-color: #25D366;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
}