@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-family: 'Inter', sans-serif;
}

@layer components {
  .whatsapp-button {
    background-color: #25D366;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.05);
    }
  }
}